.App {
  height: 100vh;
  background: #fafafa;
  display: flex;
  justify-content: center;
}

.container-login {
  height: 840px;
  background: #fafafa;
  width: 935px;
  display: flex;
  margin-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}
.div-moviles-login {
  height: 100%;

  align-items: center;

  justify-content: flex-end;
}
.div-input-login {
  width: 375px !important;
  height: 707px !important;
  background: #fafafa;

  justify-content: center;
  align-items: center;
}
.div-form-logim {
  width: 348px;
  height: 358px;
  background: #fff;
  margin-top: 65px;

  border-radius: 1px;
}
.img-logo-login {
  margin: 32px 85px 12px 85px;
}
.form-login {
  margin-top: 24px;
}
.input-pass-and-user:focus {
  box-shadow: none !important;
  outline: none !important;
}
.input-pass-and-user {
  position: relative !important;
  width: 266px !important;
  height: 36px !important;
  border-radius: 3px !important;
  background: #fafafa !important;

  margin: 3px 0px 3px 0px !important;
}
.form-control::placeholder {
  font-size: 12px;
  font-weight: 500;
}
.form-group {
  display: flex;
  justify-content: center;
}
.btn-login {
  background: #0095f6 !important;
  border-radius: 3px;
  border: 0 solid #0095f6 !important;
  width: 268px;
  height: 30px;
  margin: 8px 0px 9px 0px;
  padding: 0 !important;
  font-size: 14px !important;
  font-weight: bold !important;
}
.divider {
  border-top: 1px solid #dbdbdb;
  display: block;
  line-height: 1px;
  margin: 10px 40px 18px;
  position: relative;
  text-align: center;
  font-size: 14px;
}

.btn-face-login {
  color: #385185 !important;
  margin: 8px 40px 8px 40px !important;
  width: 268px !important;
  height: 20px !important;
  padding: 0 !important;
  display: inline-flex !important;
  justify-content: center !important;
  background-color: transparent !important;
  border: none !important;
  font-size: 14px !important;
  font-weight: bold !important;
}
.img1 {
  position: absolute;
  width: 248px;
  height: 443px;
}
.img2 {
  position: absolute;
  width: 248px;
  height: 443px;
}
.img3 {
  position: absolute;
  width: 248px;
  height: 443px;
}
.img4 {
  position: absolute;
  width: 248px;
  height: 443px;

  opacity: 0;
}
#cf {
  position: absolute;
  width: 248px;
  height: 443px;
  margin-right: 58px;
}
#cf img {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  /* if you only want to cycle a finite amount of times, 
   simply change 'infinite' with # of iterations you need */
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-direction: alternate; /* not strictly necessary */
  position: absolute;
}

#cf img:nth-of-type(1) {
  animation-delay: 15s;
}

#cf img:nth-of-type(2) {
  animation-delay: 10s;
}

#cf img:nth-of-type(3) {
  /* add some delay for the first picture as well */
  animation-delay: 5s;
}
#cf img:nth-of-type(4) {
  /* add some delay for the first picture as well */
  animation-delay: 0s;
}

@keyframes cf3FadeInOut {
  /* distributing times evenly */
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.div-registrarse {
  height: 61px !important;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1) !important;
  border-radius: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #fff;
}
.div-apps {
  height: 102px;
  width: 348px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.a-login {
  color: #385185 !important;
  margin: 8px 40px 8px 40px !important;
  width: 268px !important;
  height: 20px !important;
  padding: 0 !important;
  display: inline-flex !important;
  justify-content: center !important;
  font-size: 12px;
  border: none !important;
}
a {
  text-decoration: none !important;
}
.span-input-pass-and-user {
  font-size: 12px;
  width: 100% !important;
  height: 100% !important;
  margin-left: 8px;
  color: #8e8e8e !important;
  align-items: center;
  display: flex;
  transition: ease-out 0.2s;
}
.input-animacion {
  padding-top: 20px !important;
}
.pass-and-user:focus {
  box-shadow: none !important;
  outline: none !important;
}
.pass-and-user {
  font-size: 12px !important;
  margin: 0px !important;
  display: flex !important;
  position: absolute !important;
  padding-left: 8px !important;
  width: 100% !important;
  height: 100% !important;
  left: 0px !important;
  right: 0px !important;
  top: 0px !important;
  bottom: 0px !important;
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1) !important;
  background: transparent !important;
}
.animacion-span {
  transform: translate(-25px, -9px) scale(0.83333);
  transition: ease-out 0.2s;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fafafa inset !important;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.sidebar{
  width: 114px;
  height: 747px;
  background:#EFEFEF
}